<button class="btn btn-primary"
        ng-click="$ctrl.openAddPatientModal()">
  <span class="glyphicon glyphicon-plus"></span> Add Patient
</button>

<div class="container container-fluid">

  <div class="row">
    <div class="col-md-4">
      <div class="well">
        <ul class="list-group">
          <h3 class="list-group-item-heading">Patient List</h3>
          <div class="container">
            <span class="glyphicon glyphicon-search"></span>
            <input type="search" ng-model="$ctrl.query" placeholder="Filter by name">
          </div>
          <li class="list-group-item"
              role="button"
              ng-class="{active: patient.PatientId == $ctrl.currentPatient.PatientId}"
              ng-repeat="patient in $ctrl.patients | filter: {PatientName: $ctrl.query} as results"
              ng-click="$ctrl.currentPatient = patient;
              $ctrl.selected = true">
              {{patient.PatientName}}
          </li>
          <li class="alert alert-warning" ng-if="results.length === 0">
            <strong>No results found...</strong>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <patient-detail ng-if="$ctrl.selected"
                      patient="$ctrl.currentPatient"
                      on-edit="$ctrl.openAddPatientModal($ctrl.currentPatient)"
      ></patient-detail>
    </div>
  </div>
</div>
