

<h1>Electronic Patient Record</h1>

<uib-tabset active="active" type="tabs">

  <uib-tab index="0" heading="Patients" select="$ctrl.loadPatients()">
    <button class="btn btn-primary"
            ng-click="$ctrl.openAddPatientModal()">
      <span class="glyphicon glyphicon-plus"></span> Add Patient
    </button>
    <h3>Patients</h3>
    <div class="row">
      <div class="col-md-4">
        <ul>
          <li ng-repeat="patient in $ctrl.patients">
            {{patient.name}}
          </li>
        </ul>
      </div>
    </div>
  </uib-tab>

  <uib-tab index="1" heading="Encounters">
    <h3>Medical Encounters</h3>
  </uib-tab>


</uib-tabset>

