<div class="modal-header">
  <h3 class="modal-title">
    <span ng-if="$ctrl.editing">Edit</span>
    <span ng-if="!$ctrl.editing">Add</span>
    a medical Encounter</h3>
</div>
<div class="modal-body">
  <form name="add-patient-form" class="form">

    <div class="form-group">
      <label>Patient</label>
      <select name="patient" ng-model="$ctrl.Encounter.PatientId">
        <option
            ng-repeat="patient in $ctrl.patients"
            value="{{patient.PatientId}}">
          {{patient.PatientName}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Date</label>
      <input ng-model="$ctrl.Encounter.EncounterDate" type="date" class="form-control" placeholder="Date">
    </div>
    <div class="form-group">
      <label>Practitioner</label>
      <input ng-model="$ctrl.Encounter.Practitioner" type="number" class="form-control" placeholder="Practitioner">
    </div>
    <div class="form-group">
      <label>Complaint</label>
      <input ng-model="$ctrl.Encounter.Complaint" type="text" class="form-control" placeholder="Complaint">
    </div>
    <div class="form-group">
      <label>Vital Signs</label>
      <input ng-model="$ctrl.Encounter.VitalSigns" type="text" class="form-control" placeholder="Vital Signs">
    </div>
    <div class="form-group">
      <label>Notes</label>
      <input ng-model="$ctrl.Encounter.Notes" type="text" class="form-control" placeholder="Notes">
    </div>
    <div class="form-group">
      <label>Lab Order</label>
      <select name="labOrder" ng-model="$ctrl.Encounter.LabOrderId">
        <option
            ng-repeat="labOrder in $ctrl.labOrders"
            value="{{labOrder.LabOrderId}}">
          {{labOrder.LabTestDate}}
        </option>
      </select>
    </div>
    {{$ctrl.Encounter}}
    <div class="form-group">
      <label>Pharmacy Order</label>
      <input ng-model="$ctrl.Encounter.PharmacyOrder" type="text" class="form-control" placeholder="Pharmacy Order">
    </div>
    <div class="form-group">
      <label>diagnosis</label>
      <input ng-model="$ctrl.Encounter.Diagnosis" type="text" class="form-control" placeholder="Diagnosis">
    </div>
    <div class="form-group">
      <label>Treatment Plan</label>
      <input ng-model="$ctrl.Encounter.TreatmentPlan" type="text" class="form-control" placeholder="Treatment Plan">
    </div>
    <div class="form-group">
      <label>Referral</label>
      <input ng-model="$ctrl.Encounter.Referral" type="text" class="form-control" placeholder="Referral">
    </div>
    <div class="form-group">
      <label>Follow Up Notes</label>
      <input ng-model="$ctrl.Encounter.FollowUpNotes" type="text" class="form-control" placeholder="Follow Up Notes">
    </div>
  </form>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
  </div>
</div>