<button class="btn btn-primary"
        ng-click="$ctrl.openAddMedicalEncounterModal()">
  <span class="glyphicon glyphicon-plus"></span> Add Medical Encounter
</button>

<div class="container container-fluid">

  <div class="row">
    <div class="col-md-4">
      <div class="well">
        <ul class="list-group">
          <h3 class="list-group-item-heading">Medical Encounters</h3>
          <li class="list-group-item"
              role="button"
              ng-class="{active: medicalEncounter.MedicalEncounterId == $ctrl.currentMedicalEncounter.MedicalEncounterId}"
              ng-repeat="medicalEncounter in $ctrl.medicalEncounters"
              ng-click="$ctrl.currentMedicalEncounter = medicalEncounter; $ctrl.selected = true">
              <strong>Date:</strong> {{medicalEncounter.EncounterDate | date : 'short'}} - {{medicalEncounter.Complaint}}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <medical-encounter-detail ng-if="$ctrl.selected"
                                encounter="$ctrl.currentMedicalEncounter"
                                on-edit="$ctrl.openAddMedicalEncounterModal($ctrl.currentMedicalEncounter)"
      ></medical-encounter-detail>
    </div>
  </div>
</div>
